DealMvc.SendMessage/Web References/SDK/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.82009668.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s1="http://www.82009668.com/AbstractTypes" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.82009668.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.82009668.com/">
      <s:element name="changePassWord">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="newpwd" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="changePassWordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="changePassWordResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getBalance">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getBalanceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="getBalanceResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="sendMessage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pwd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="phones" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="contents" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="scode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="setTime" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="sendMessageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="sendMessageResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="sendMMS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pwd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="phones" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mmsBytes" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="scode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="setTime" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="sendMMSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="sendMMSResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="sendChat">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pwd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="phones" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="contents" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="scode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="setTime" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="sendChatResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="sendChatResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getChat">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pwd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="scode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getChatResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getChatResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="int" type="s:int" />
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
    <s:schema targetNamespace="http://www.82009668.com/AbstractTypes">
      <s:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <s:complexType name="StringArray">
        <s:complexContent mixed="false">
          <s:restriction base="soapenc:Array">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="unbounded" name="String" type="s:string" />
            </s:sequence>
          </s:restriction>
        </s:complexContent>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="changePassWordSoapIn">
    <wsdl:part name="parameters" element="tns:changePassWord" />
  </wsdl:message>
  <wsdl:message name="changePassWordSoapOut">
    <wsdl:part name="parameters" element="tns:changePassWordResponse" />
  </wsdl:message>
  <wsdl:message name="getBalanceSoapIn">
    <wsdl:part name="parameters" element="tns:getBalance" />
  </wsdl:message>
  <wsdl:message name="getBalanceSoapOut">
    <wsdl:part name="parameters" element="tns:getBalanceResponse" />
  </wsdl:message>
  <wsdl:message name="sendMessageSoapIn">
    <wsdl:part name="parameters" element="tns:sendMessage" />
  </wsdl:message>
  <wsdl:message name="sendMessageSoapOut">
    <wsdl:part name="parameters" element="tns:sendMessageResponse" />
  </wsdl:message>
  <wsdl:message name="sendMMSSoapIn">
    <wsdl:part name="parameters" element="tns:sendMMS" />
  </wsdl:message>
  <wsdl:message name="sendMMSSoapOut">
    <wsdl:part name="parameters" element="tns:sendMMSResponse" />
  </wsdl:message>
  <wsdl:message name="sendChatSoapIn">
    <wsdl:part name="parameters" element="tns:sendChat" />
  </wsdl:message>
  <wsdl:message name="sendChatSoapOut">
    <wsdl:part name="parameters" element="tns:sendChatResponse" />
  </wsdl:message>
  <wsdl:message name="getChatSoapIn">
    <wsdl:part name="parameters" element="tns:getChat" />
  </wsdl:message>
  <wsdl:message name="getChatSoapOut">
    <wsdl:part name="parameters" element="tns:getChatResponse" />
  </wsdl:message>
  <wsdl:message name="changePassWordHttpGetIn">
    <wsdl:part name="username" type="s:string" />
    <wsdl:part name="password" type="s:string" />
    <wsdl:part name="newpwd" type="s:string" />
  </wsdl:message>
  <wsdl:message name="changePassWordHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="getBalanceHttpGetIn">
    <wsdl:part name="username" type="s:string" />
    <wsdl:part name="password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getBalanceHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="sendMessageHttpGetIn">
    <wsdl:part name="username" type="s:string" />
    <wsdl:part name="pwd" type="s:string" />
    <wsdl:part name="phones" type="s:string" />
    <wsdl:part name="contents" type="s:string" />
    <wsdl:part name="scode" type="s:string" />
    <wsdl:part name="setTime" type="s:string" />
  </wsdl:message>
  <wsdl:message name="sendMessageHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="sendMMSHttpGetIn">
    <wsdl:part name="username" type="s:string" />
    <wsdl:part name="pwd" type="s:string" />
    <wsdl:part name="phones" type="s:string" />
    <wsdl:part name="mmsBytes" type="s1:StringArray" />
    <wsdl:part name="scode" type="s:string" />
    <wsdl:part name="setTime" type="s:string" />
  </wsdl:message>
  <wsdl:message name="sendMMSHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="sendChatHttpGetIn">
    <wsdl:part name="username" type="s:string" />
    <wsdl:part name="pwd" type="s:string" />
    <wsdl:part name="phones" type="s:string" />
    <wsdl:part name="contents" type="s:string" />
    <wsdl:part name="scode" type="s:string" />
    <wsdl:part name="setTime" type="s:string" />
  </wsdl:message>
  <wsdl:message name="sendChatHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="getChatHttpGetIn">
    <wsdl:part name="username" type="s:string" />
    <wsdl:part name="pwd" type="s:string" />
    <wsdl:part name="scode" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getChatHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="changePassWordHttpPostIn">
    <wsdl:part name="username" type="s:string" />
    <wsdl:part name="password" type="s:string" />
    <wsdl:part name="newpwd" type="s:string" />
  </wsdl:message>
  <wsdl:message name="changePassWordHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="getBalanceHttpPostIn">
    <wsdl:part name="username" type="s:string" />
    <wsdl:part name="password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getBalanceHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="sendMessageHttpPostIn">
    <wsdl:part name="username" type="s:string" />
    <wsdl:part name="pwd" type="s:string" />
    <wsdl:part name="phones" type="s:string" />
    <wsdl:part name="contents" type="s:string" />
    <wsdl:part name="scode" type="s:string" />
    <wsdl:part name="setTime" type="s:string" />
  </wsdl:message>
  <wsdl:message name="sendMessageHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="sendMMSHttpPostIn">
    <wsdl:part name="username" type="s:string" />
    <wsdl:part name="pwd" type="s:string" />
    <wsdl:part name="phones" type="s:string" />
    <wsdl:part name="mmsBytes" type="s1:StringArray" />
    <wsdl:part name="scode" type="s:string" />
    <wsdl:part name="setTime" type="s:string" />
  </wsdl:message>
  <wsdl:message name="sendMMSHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="sendChatHttpPostIn">
    <wsdl:part name="username" type="s:string" />
    <wsdl:part name="pwd" type="s:string" />
    <wsdl:part name="phones" type="s:string" />
    <wsdl:part name="contents" type="s:string" />
    <wsdl:part name="scode" type="s:string" />
    <wsdl:part name="setTime" type="s:string" />
  </wsdl:message>
  <wsdl:message name="sendChatHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="getChatHttpPostIn">
    <wsdl:part name="username" type="s:string" />
    <wsdl:part name="pwd" type="s:string" />
    <wsdl:part name="scode" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getChatHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="changePassWord">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">修改帐户密码</wsdl:documentation>
      <wsdl:input message="tns:changePassWordSoapIn" />
      <wsdl:output message="tns:changePassWordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getBalance">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获得帐户当前余额(初次开发可以调用这个方法进行测试)</wsdl:documentation>
      <wsdl:input message="tns:getBalanceSoapIn" />
      <wsdl:output message="tns:getBalanceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="sendMessage">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">发送短信(注意:电话号码必须以英文逗号分割)</wsdl:documentation>
      <wsdl:input message="tns:sendMessageSoapIn" />
      <wsdl:output message="tns:sendMessageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="sendMMS">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">发送彩信(注意:电话号码必须以英文逗号分割,彩信文件格式必须严格按照要求且不能大于50K)</wsdl:documentation>
      <wsdl:input message="tns:sendMMSSoapIn" />
      <wsdl:output message="tns:sendMMSSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="sendChat">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">互动短信(发送可以回复的短信)</wsdl:documentation>
      <wsdl:input message="tns:sendChatSoapIn" />
      <wsdl:output message="tns:sendChatSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getChat">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">接收互动短信(常规互动短信必须下发一条才能回复一条，多次回复无效)</wsdl:documentation>
      <wsdl:input message="tns:getChatSoapIn" />
      <wsdl:output message="tns:getChatSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ServiceHttpGet">
    <wsdl:operation name="changePassWord">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">修改帐户密码</wsdl:documentation>
      <wsdl:input message="tns:changePassWordHttpGetIn" />
      <wsdl:output message="tns:changePassWordHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="getBalance">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获得帐户当前余额(初次开发可以调用这个方法进行测试)</wsdl:documentation>
      <wsdl:input message="tns:getBalanceHttpGetIn" />
      <wsdl:output message="tns:getBalanceHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="sendMessage">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">发送短信(注意:电话号码必须以英文逗号分割)</wsdl:documentation>
      <wsdl:input message="tns:sendMessageHttpGetIn" />
      <wsdl:output message="tns:sendMessageHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="sendMMS">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">发送彩信(注意:电话号码必须以英文逗号分割,彩信文件格式必须严格按照要求且不能大于50K)</wsdl:documentation>
      <wsdl:input message="tns:sendMMSHttpGetIn" />
      <wsdl:output message="tns:sendMMSHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="sendChat">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">互动短信(发送可以回复的短信)</wsdl:documentation>
      <wsdl:input message="tns:sendChatHttpGetIn" />
      <wsdl:output message="tns:sendChatHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="getChat">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">接收互动短信(常规互动短信必须下发一条才能回复一条，多次回复无效)</wsdl:documentation>
      <wsdl:input message="tns:getChatHttpGetIn" />
      <wsdl:output message="tns:getChatHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ServiceHttpPost">
    <wsdl:operation name="changePassWord">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">修改帐户密码</wsdl:documentation>
      <wsdl:input message="tns:changePassWordHttpPostIn" />
      <wsdl:output message="tns:changePassWordHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="getBalance">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获得帐户当前余额(初次开发可以调用这个方法进行测试)</wsdl:documentation>
      <wsdl:input message="tns:getBalanceHttpPostIn" />
      <wsdl:output message="tns:getBalanceHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="sendMessage">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">发送短信(注意:电话号码必须以英文逗号分割)</wsdl:documentation>
      <wsdl:input message="tns:sendMessageHttpPostIn" />
      <wsdl:output message="tns:sendMessageHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="sendMMS">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">发送彩信(注意:电话号码必须以英文逗号分割,彩信文件格式必须严格按照要求且不能大于50K)</wsdl:documentation>
      <wsdl:input message="tns:sendMMSHttpPostIn" />
      <wsdl:output message="tns:sendMMSHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="sendChat">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">互动短信(发送可以回复的短信)</wsdl:documentation>
      <wsdl:input message="tns:sendChatHttpPostIn" />
      <wsdl:output message="tns:sendChatHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="getChat">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">接收互动短信(常规互动短信必须下发一条才能回复一条，多次回复无效)</wsdl:documentation>
      <wsdl:input message="tns:getChatHttpPostIn" />
      <wsdl:output message="tns:getChatHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="changePassWord">
      <soap:operation soapAction="http://www.82009668.com/changePassWord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBalance">
      <soap:operation soapAction="http://www.82009668.com/getBalance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendMessage">
      <soap:operation soapAction="http://www.82009668.com/sendMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendMMS">
      <soap:operation soapAction="http://www.82009668.com/sendMMS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendChat">
      <soap:operation soapAction="http://www.82009668.com/sendChat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getChat">
      <soap:operation soapAction="http://www.82009668.com/getChat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="changePassWord">
      <soap12:operation soapAction="http://www.82009668.com/changePassWord" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBalance">
      <soap12:operation soapAction="http://www.82009668.com/getBalance" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendMessage">
      <soap12:operation soapAction="http://www.82009668.com/sendMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendMMS">
      <soap12:operation soapAction="http://www.82009668.com/sendMMS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendChat">
      <soap12:operation soapAction="http://www.82009668.com/sendChat" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getChat">
      <soap12:operation soapAction="http://www.82009668.com/getChat" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceHttpGet" type="tns:ServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="changePassWord">
      <http:operation location="/changePassWord" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBalance">
      <http:operation location="/getBalance" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendMessage">
      <http:operation location="/sendMessage" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendMMS">
      <http:operation location="/sendMMS" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendChat">
      <http:operation location="/sendChat" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getChat">
      <http:operation location="/getChat" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceHttpPost" type="tns:ServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="changePassWord">
      <http:operation location="/changePassWord" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBalance">
      <http:operation location="/getBalance" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendMessage">
      <http:operation location="/sendMessage" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendMMS">
      <http:operation location="/sendMMS" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendChat">
      <http:operation location="/sendChat" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getChat">
      <http:operation location="/getChat" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://www.82009668.com:888/SDK/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://www.82009668.com:888/SDK/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceHttpGet" binding="tns:ServiceHttpGet">
      <http:address location="http://www.82009668.com:888/SDK/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceHttpPost" binding="tns:ServiceHttpPost">
      <http:address location="http://www.82009668.com:888/SDK/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>